body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 10px;
}
.calculator{
    width: 400px;
    background-color:rgb(10, 1, 47);
    border-radius: 20px;
    overflow: hidden;
}
.buttons{
    display: grid;
    grid-template-columns:auto auto auto auto;
}
button{
    width: 100px;
    height: 100px;
    background-color:rgb(81, 84, 88);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 35px;
}
input{
    padding: 70px;
    font-size: 55px;
    border: none;
    color: white;
    background-color: rgb(10, 1, 47);
}
.pink{
    background-color: #fdcbff;
    color: rgb(0, 0, 0);
}
.blue{
    background-color: #4a91d7;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.lightblue{
    background-color: #324558;
    color: rgb(255, 255, 255);
    font-size: 35px;
}
button:hover{
    background-color: #818181;
}
.blue:hover{
    background-color: #2e6bb0;
}
.lightblue:hover{
    background-color: #2a3b4c;
}
.pink:hover{
    background-color: #ffe1fd;
}